/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter";
    --main-weight: 410;
    --card-headline-weight: 715;
    --accent-font: "PressStart2P";
    --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);

    --wght-card-title: 715;
    --wght-card-text: 410;

    --watermark-stroke: #FFFFFF;

    --contour-color: #000;
    --animation-fill-color: red;

    --bg-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}